{% extends 'base.html.twig' %}
{# app/Resources/views/login.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sorite{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>

<body>
<main id="login">
    <div class="box">
        <div class="box_header">
            <img src="{{ asset('SORTIR.png') }}" alt="logo">
        </div>
        <h5 class="title is-5 has-text-danger">{{ error | default('') }}</h5>
        <form role="form" action="{{ path('app_login') }}" method="post">
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" name="_username" value="{{ last_username|default('') }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Mot de passe</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" name="_password">
                </div>
            </div>

            <button class="button is-primary" type="submit">Connexion</button>
        </form>
    </div>
</main>
</body>
</html>