{# app/Resources/views/management/createProfile.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}create sortie{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        label {
            font-weight: bold;
            margin-bottom: 5px;
        }
        input, select, textarea{
            border-radius: 7px;
            border-color: gray;
        }
    </style>
{% endblock %}
{% block body %}
    <main class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <h1 class="title is-1">Create Sortie</h1>
                </div>
                <div class="level-right">
                    <a href="{{ path('app_show_sorties')}}" class="button is-primary">Sorties</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card_body">
                    <br>
                    {{ form_start(form) }}
                    <div>{{ form_label(form.nom) }}</div>
                    <div>{{ form_widget(form.nom) }}</div>
                    <br/>

                    <div>{{ form_label(form.dateDebut) }}</div>
                    <div>{{ form_widget(form.dateDebut) }}</div>
                    <br/>

                    <div>{{ form_label(form.dateCloture) }}</div>
                    <div>{{ form_widget(form.dateCloture) }}</div>
                    <br/>

                    <div>{{ form_label(form.duree) }}</div>
                    <div>{{ form_widget(form.duree) }}</div>
                    <br/>

                    <div>{{ form_label(form.nbinscriptionsmax) }}</div>
                    <div>{{ form_widget(form.nbinscriptionsmax) }}</div>
                    <br/>

                    <div>{{ form_label(form.urlPhoto) }}</div>
                    <div>{{ form_widget(form.urlPhoto) }}</div>
                    <br/>

                    <div>{{ form_label(form.lieuxNoLieu) }}</div>
                    <div>{{ form_widget(form.lieuxNoLieu) }}</div>
                    <br/>

                    <div>{{ form_label(form.descriptioninfos) }}</div>
                    <div>{{ form_widget(form.descriptioninfos) }}</div>
                    <br/>
                    {{ form_widget(form.register, {'attr': {'class': 'button is-primary'}}) }}
                    {{ form_end(form) }}
                    <br>
                </div>
            </div>
        </div>
    </main>
{% endblock %}